@import url("https://use.typekit.net/kux7wia.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --tan: #e1e1be;
  --blue: #083d77;
  --light-blue: #90bede;
  --black: rgb(26, 32, 44);
  --off-black: rgb(29, 37, 56);
  --white: rgb(255, 255, 255);
  --border-size: 0.5px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "graphie", sans-serif;
  width: 100%;
  background-color: var(--black);
}

body {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "new-spirit", serif;
  font-weight: 500;
}

main {
  color: var(--light-blue);
}

.grid {
  display: grid;
  gap: 24px;
  grid-auto-rows: auto;
  @media screen and (max-width: 729px) {
    grid-template-columns: 1fr;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.mouse-follower {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transform: all 0.2s;
  pointer-events: none;
}
